<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

	<title>サンプルページ | <%= htmlWebpackPlugin.options.title %></title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<meta property="og:type" content="website">
	<meta property="og:url" content="<%= htmlWebpackPlugin.options.ogurl %>">
	<meta property="og:site_name" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="<%= htmlWebpackPlugin.options.ogurl %>/og.png">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="" />

	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<!-- <link rel="apple-touch-icon-precomposed" href=""> -->
	<!-- <link rel="stylesheet" href="assets/css/common.css" media="all"> -->
	<!-- <link rel="stylesheet" href="assets/css/index/index.css" media="all"> -->
</head>

<body>
	<img src="<%= htmlWebpackPlugin.options.path %>/assets/img/hoge.png" alt="" />
	<!-- <script src="assets/js/libs.js"></script> -->
	<!-- <script src="assets/js/common.js"></script> -->
	<!-- <script src="assets/js/scripts.js"></script> -->
</body>

</html>
