@import "_common/config";
@import "_common/function";
@import "_common/mixin";
@import "_common/keyframe";
@import "_common/reset";

/*--------------------------------------------------------------------------
	styles
--------------------------------------------------------------------------*/
html,body{
	overflow: hidden;
	height: 100%;

}
#wrapper{
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	position: relative;
}

h1{
	font-size: 2.4rem;
	margin: 0 0 20px 10px;
}

canvas{
	width: 512px;
	height: 512px;
	background: #000;
	outline: 1px solid #ddd;
}

video{
	width: 512px;
	height: 512px;
	visibility: hidden;
	backface-visibility: hidden;
}

#pager{
	padding-top: 20px;
	text-align: center;

	button{
		margin: 0 10px;
		color: #3d7e9a;

		&:hover{
			text-decoration: underline;
		}
	}
}

// index
#menu{
	margin: 40px;

	a{
		display: inline-block;
		margin: 7px 0;
		color: #3d7e9a;

		&:hover{
			text-decoration: underline;
		}
	}
}
